/* Dashboard Styles */

main {
    min-height: 70vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    text-align: center;
}

@media only screen and (min-width:768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
    }
}